@import '../abstracts/variables';
@import '../abstracts/mixins';

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background: $gray-50;
}

.main-content {
  flex: 1;
  width: 100%;
  margin-top: 60px;
  padding: 0;
  
  @include respond-to('tablet') {
    margin-top: 70px;
  }
  
  @include respond-to('desktop') {
    margin-top: 80px;
  }
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 $spacing-sm;
  
  @include respond-to('tablet') {
    padding: 0 $spacing-md;
  }
  
  @include respond-to('desktop') {
    padding: 0 $spacing-lg;
  }
}