@import 'variables';

@function rem($px) {
  @return ($px / 16) * 1rem;
}

@function em($px, $base: 16) {
  @return ($px / $base) * 1em;
}

@function rgba-variant($color, $opacity) {
  @return rgba($color, $opacity);
}